<h1><%= @student.to_s %></h1>


    <input type="submit" value="Change Activation">
   



<!-- shows a button to activate student if the student is deactivated
and a button to deactivate student if the student is activated -->